.footer {
    background: #2D2C3C;
    color: #fff;
    padding: 15px 0;
    font-size: 18px;
}

.footer-contacts a {
    color: #18cffc;
    text-decoration: none;
}

.footer-contacts a:hover {
    text-decoration: underline;
}
